        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        
        body {
            background: #EEEEEE;
        }
        /* Header */
        
        .header {
            margin: auto;
            width: 80vw;
            /* background-color: aqua; */
        }
        
        .header h1 {
            margin-top: 10px;
        }
        
        span {
            color: red;
        }
        /* PERSON INFO */
        
        .person-info {
            margin: auto;
            margin-top: 50px;
            width: 80vw;
            /* background-color: aqua; */
        }
        
        .person-info-flex {
            display: flex;
            justify-content: space-between;
        }
        
        .input-control input {
            border: 2px solid #f0f0f0;
            border-radius: 4px;
            font-size: 10px;
            width: 250px;
            padding: 10px;
            display: block;
        }
        
        .input-control input:focus {
            outline: 0;
        }
        
        .input-control.success input {
            border-color: #09c372;
        }
        
        .input-control.error input {
            border-color: #ff3860;
        }
        
        .input-control .error {
            color: #ff3860;
            font-size: 9px;
            height: 13px;
        }
        /* ADDRESS INFO */
        
        .person-address input {
            border: 2px solid #f0f0f0;
            border-radius: 4px;
            font-size: 10px;
            padding: 10px;
            display: block;
            width: 100%;
            outline: none;
        }
        
        .person-address .error {
            color: #ff3860;
            font-size: 9px;
            /* height: 13px; */
        }
        
        .error-message #dob {
            outline: none;
        }
        
        .error-message #dobErrMsg {
            color: #ff3860;
            font-size: 9px;
        }
        /* ADDITIONAL INFO */
        
        .additional-info-flex {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
        }
        
        .error-message input {
            border: 2px solid #f0f0f0;
            border-radius: 4px;
            font-size: 10px;
            padding: 10px;
            /* display: block; */
            width: 100%;
        }
        
        .error-message #contact {
            outline: none;
        }
        
        .error-message .error {
            color: #ff3860;
            font-size: 9px;
        }
        
        .gender #message {
            color: #ff3860;
            font-size: 9px;
        }
        
        .med #message1 {
            color: #ff3860;
            font-size: 9px;
        }
        /* .additional-info-flex .input-control input {
    width: 100%;
} */
        
        ul {
            text-decoration: none;
        }
        
        ul li {
            list-style: none;
        }
        
        .person-records {
            display: flex;
            width: 80vw;
            margin: auto;
            justify-content: space-around;
            margin-top: 20px;
        }
        
        .button {
            display: flex;
            width: 80vw;
            margin: auto;
            justify-content: flex-start;
            margin-top: 20px;
        }
        
        button {
            width: 20%;
            height: 50px;
            border: 1px solid;
            background: #2691d9;
            border-radius: 10px;
            font-size: 18px;
            color: #e9f4fb;
            font-weight: 700;
            cursor: pointer;
            outline: none;
        }
        
        button:hover {
            border-color: #2691d9;
            transition: .5s;
        }
        
        .btn {
            position: relative;
        }
        
        .btn-out {
            position: absolute;
            bottom: 1px;
            left: 450px;
            width: 17%;
            height: 50px;
            border: 1px solid;
            background: #2691d9;
            border-radius: 10px;
            font-size: 18px;
            color: #e9f4fb;
            font-weight: 700;
            cursor: pointer;
            outline: none;
        }